<div class="container">

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
            <button type="button" ng-class="['btn', 'btn-default', buttonClass[$index]]" ng-repeat="obj in dataStores" ng-click="toggleVisible($index,obj.label)">{{obj.label}}</button>
            <button type="button" class="btn btn-default pull-right" ng-click="toggleDiffs()"> Test</space></button>
        </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body col-md-12 table-scrollable">
        <table class="table table-hover table-condensed" style="table-layout: fixed">
            <thead>
            <tr>
                <th ng-repeat="header in diffModel.headers" ng-show="columnVisible($index-1)">{{header.label}}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="row in diffModel.rows " ng-class="highlightRow(row.values)" ng-show="showRow(row.values)">
                <th>{{row.name}}</th>
                <td  class="col-sm-2 cell-fixed" ng-repeat="v in row.values" ng-show="columnVisible($index)">{{v.value}}</td>
            </tr>
            </tbody>
        </table>
            </div>
        </div>

</div>