<div class="container">
    <div ng-controller="DiffCtrl">
        <div class="container">
            <button type="button" class="btn btn-default btn-warning" ng-repeat="obj in dataStores">{{obj.label}}</button>
        </div>

        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th ng-repeat="header in diffModel.headers">{{header}}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="row in diffModel.rows">
                <th>{{row.name}}</th>
                <td ng-repeat="value in row.values">{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>